@model IEnumerable<Role>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = "All Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Any())
{
    <div class="col-12">
        <div class="rounded h-100 p-4">
            <h6 class="mb-4">All Roles</h6>
            <div class="btn-group" role="group">
                <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">Create Role</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Select((x, i) => new { Value = x, Index = i }))
                    {
                        <tr>
                            <th scope="row">@(item.Index + 1)</th>
                            <td>@item.Value.Name</td>
                            <td>@item.Value.Description</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Admin" asp-action="EditRole" asp-route-roleId="@item.Value.Id">Edit</a>
                                <span id="confirmDeleteSpan_@item.Value.Id" style="display:none">
                                    <span>Are you sure you want to Delete?</span>
                                    <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteRole" asp-route-roleId="@item.Value.Id">Yes</a>
                                    <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.Value.Id', false)">No</a>
                                </span>

                                <span id="deleteSpan_@item.Value.Id">
                                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Value.Id', true)">Delete</a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h6 class="card-title">
                Use the button below to create a role
            </h6>
            <a class="btn btn-primary" style="width:auto" asp-controller="Admin" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}

<script>
    function confirmDelete(uniqueId, isTrue) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>